{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forever Study Consulting</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'backend/images/favicon.ico' %}" type="image/x-icon">
    <!-- Static CSS files -->
    <link rel="stylesheet" href="{% static 'backend/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/sliders.css' %}">
    <link rel="stylesheet" href="{% static 'backend/css/media.css' %}">
    
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="display-f">
            <div id="logo" class="ecual-auto">
                <img src="/static/backend/images/logo.png" alt="Logo">
            </div>
        </header>
        <aside class="display-f-Jc-AspaceB area-w100-Hauto">
            <main class="ecual-auto display-fColumn-Jstart-Astart">
                <div class="topSlider">
                    <div class="top-carousel">
                        <div class="top-carousel-images">
                            <img src="/static/backend/images/minC1.jpg" alt="Image 1">
                        </div>
                        <div class="top-buttons">
                            <button class="top-btn top-left">&#10094;</button>
                            <button class="top-btn top-right">&#10095;</button>
                        </div>
                        <div class="top-indicators"></div>
                    </div>
                </div>

                <div id="bConText"><span id="conText">Ma'lumotni olish uchun ro‘yxatdan o‘ting</span></div>

                <div class="post-data-container">
                    <form method="POST" id="registrationForm">
                        {% csrf_token %}
                        
                        <div class="nameArea" style="margin-top: 5px;">
                            <input type="text" name="name" id="name" value="{{ form.name.value|default_if_none:'' }}" placeholder="Ism, Familiya" required>
                        </div>
                    
                        <div class="phone-container">
                            <div onclick="toggleDropdown()" style="cursor: pointer; margin-right: 4px; display: flex;">
                                <img src="https://flagcdn.com/w40/uz.png" id="flag" class="flag">
                                <ion-icon name="caret-down-outline" style="color: grey;"></ion-icon>
                            </div>
                            <span id="code">+998</span>
                            <input type="tel" id="phone" inputmode="numeric" placeholder="999 9999" 
                                style="margin-left: 5px; border: none; outline: none;" 
                                oninput="updateFullPhone()" required>
                            <input type="hidden" name="phone" id="fullPhone">

                            <div class="country-list" id="countryList"></div>
                        </div>
                        <div id="submitError" style="color: red; margin-top: 10px;"></div>

                        <div class="certificate-container" style="margin: 10px 0 10px 0;">
                            <label>Sizda til sertifikati bormi?</label><br>
                            <div style="margin: 10px;"></div>
                            <div class="display-f-Ac-Jstart">
                                <label class="radio-label" style="margin: 0 10px 0 0;">
                                    <input type="radio" name="language_certificate" id="cert_IELTS" value="IELTS" {% if form.language_certificate.value == 'IELTS' %}checked{% endif %}>
                                    <div class="custom-radio"></div>
                                    IELTS
                                </label>
                                <label class="radio-label" style="margin: 0 10px 0 0;">
                                    <input type="radio" name="language_certificate" id="cert_TOPIK" value="TOPIK" {% if form.language_certificate.value == 'TOPIK' %}checked{% endif %}>
                                    <div class="custom-radio"></div>
                                    TOPIK
                                </label>
                                <label class="radio-label">
                                    <input type="radio" name="language_certificate" id="cert_no" value="No" {% if form.language_certificate.value == 'No' %}checked{% endif %}>
                                    <div class="custom-radio"></div>
                                    Endi olaman
                                </label>
                            </div>
                        </div>
                        <button type="submit" id="sendData">Ro'yhatdan o'tish</button>
                        <a id="call" class="display-f" href="tel:+998950209799"><span><ion-icon name="call-outline" style="margin-right: 5px;"></ion-icon> Menejer bilan bog'lanish</span></a>
                    </form>
                </div>
            </main>

            <div class="mainSlide-container">
                <div class="carousel">
                    <div class="carousel-images">
                        <img src="/static/backend/images/img1.jpg" alt="Image 1">
                    </div>
                    <div class="buttons">
                        <button class="btn left">&#10094;</button>
                        <button class="btn right">&#10095;</button>
                    </div>
                    <div class="indicators"></div>
                </div>
            </div>
        </aside>
    </div>
    <!-- Static Sliders JS -->
    <script src="{% static 'backend/js/sliders.js' %}"></script>

    <!-- Country Local Phone Number JS -->
    <script src="{% static 'backend/js/localNumber.js' %}"></script>

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>